head
    meta(charset="utf-8")
    meta(name="description")
    meta(name="author")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="icon" href="favicon/favicon.ico")
    style(src="css/style.css")
    title pastel-bluma
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css")
